body {
  text-align: center;
  background-color: salmon;
}

.img-div {
  text-align: center;
}

.img-div img {
  width: 200px;
}

.input {
  padding: 0.5rem;
  width: 300px;
  border-radius: 5px;
}
.card-img {
  /* border-radius: 5px; */
  width: 250px;
  height: 300px;
  position: relative;
  z-index: 5;
  transition: all 0.5s;
  object-fit: cover;
  &:hover {
    transform: scale(0.9);
  }
}
.player-div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
  justify-content: center;
}

.relative {
  position: relative;
}
.ul {
  list-style: none;
  text-align: start;
  position: absolute;
  top: -16px;
  /* left: 10vw; */
  width: 210px;
  height: 300px;

  background-color: rgba(68, 64, 64, 0.542);
}
.ulz {
  z-index: 8;
}
li {
  padding: 5px;
  margin-top: 25px;
  color: white;
}
.p-card {
  font-size: 20px;
  color: white;
}
